{% extends 'base.html' %}

{%block content%}

<h1 class = 'ml-3 mt-3'>Your Cart</h1>

<div class = 'container'>
    <div class = 'row text-center'>
        <div class = 'col-8'>
            {% for product in products %}
                <a href = '/product/{{product.productid}}'>{{product.productname}}</a><span> - ${{product.price}}.00</span><br></br>
            {% endfor %}
        </div>
        <div class = 'col-4'>
                <p>Subtotal: ${{subtotal}}.00</p>
        </div>
    </div>

    <div class = 'row text-center'>
        <div class = 'col-12 mt-5 text-center'>
            <a href = '/checkout' class = "btn btn-info">Checkout</a>
        </div>
    </div>

</div>


{%endblock%}