{% extends 'base.html' %}

{%block content%}

<div class = 'container'>
    <div class = 'mt-5 row text-center'>
        <div class = 'col-3'>
            <img src="../static/consumer_examples/m_wp_66d7bb92b1ef589fe04c31a4.jpg" alt="Product">
        </div>
        <div class = 'col-9'>
            <btn class = 'checkout btn btn-primary'>Checkout</btn>
            <btn class = 'cancel btn btn-secondary'>Cancel</btn>
        </div>

    </div>

</div>

<!-- 
We'll render the products to checkout through the session object
-->


{%endblock%}