{% extends 'base.html' %}

{%block content%}
<h1 class = 'ml-3 mt-3'>{{product.productname}}</h1>

<div class = 'container'>
    <div class = 'row gx-2 gy-2 text-center'>
        <div class = 'col-6'>
            <img src="../static/consumer_examples/m_wp_66d7bb92b1ef589fe04c31a4.jpg" alt="Product">
        </div>
        <div class = 'col-6'>
            <p>
                {{product.productdescription}}
            </p>
            <btn class = 'add-to-cart btn-primary'>Add to Cart</btn>
            <btn class = 'remove-from-cart btn-secondary'>Remove to Cart</btn>
        </div>

    </div>

</div>

<script>

    let productid = {{product.productid|tojson}};

    $('.add-to-cart').on("click", function(){
        fetch(`/product/${productid}/cart`, 
            {method: 'POST'}
        )
    })

    $('.remove-from-cart').on("click", function(){
        fetch(`/product/${productid}/remove`, 
            {method: 'POST'}
        )
    })
</script>

<!-- To pass the value from Jinja to JS, we can encode a datavalue to the HTML and use that in the jQuery lookup -->

{%endblock%}